PORT=8080
DB_HOST=postgres-db
DB_PORT=5432
DB_NAME=global_invoice
DB_USER=postgres
DB_PASSWORD=postgres_password
JWT_SECRET=super_secret_key_global_invoice_12345
INTERNAL_API_KEY=global-invoice-internal-key
METRICS_BASE_URL=http://python-metrics-ms:5000
